- provide(:title, "How it works - LearnTo")
.about
  .row
    .col-md-12
      %h2 How It Works
      %br
      %p We are building an intellectually vibrant and passionate community that cares about spreading knowledge, learning new things, and helping each other.  Join us in three easy steps!

      .step
        .row
          .col-md-6
            = image_tag 'climbing.jpg'
          .col-md-6
            .desc
              %h4 1. Sign up to learn something new!
              %p 
                Browse through the lessons and find some that piques your interest.  Sign up for as many as you like by sending a private message to the teacher of the lesson.

      %hr.div-line

      .step
        .row
          .col-md-6
            .desc
              %h4 2. Meet in person and learn!
              %p 
                Meet at a mutually selected location at a time that works for both you and the teacher.  Learning in person allows you to be motivated, have all your questions answered, and have the lesson tailored to your needs.
          .col-md-6
            = image_tag 'cooking-big.jpg'

      %hr.div-line

      .step
        .row
          .col-md-6
            = image_tag 'guitar_big.jpg'
          .col-md-6
            .desc
              %h4 3. Give back by teaching something you love! 
              %p 
                You have something that you're passionate about and you'd love to share. Share it using LearnTo! Teaching is a great way to meet new people with similar passions, become an expert in your field, and give back to your community.
