- provide(:title, "How it works - LearnTo")
.about
  .row
    .col-md-12
      %h2 How It Works
      %br
      %p We are building an intellectually vibrant and passionate community that cares about spreading knowledge, learning new things, and helping each other.  Join us in three easy steps!

      .step
        .row
          .col-md-6
            = image_tag 'climbing.jpg'
          .col-md-6
            .desc
              %h4 1. Sign up to learn something new!
              %p You can sign up for as many classes as you'd like! Viewing responses for your sign ups requires the use of 1 credit.

      %hr.div-line

      .step
        .row
          .col-md-6
            .desc
              %h4 2. Meet in person and learn!
              %p LearnTo is a great way to meet new, intellectually passionate people in your community! All classes happen in person so you get all the help you need to learn.
          .col-md-6
            = image_tag 'cooking-big.jpg'

      %hr.div-line

      .step
        .row
          .col-md-6
            = image_tag 'guitar_big.jpg'
          .col-md-6
            .desc
              %h4 3. Give back by teaching something you love! 
              %p 
                You have something that you're passionate about and you'd love to share. Share it using LearnTo! Teaching is a great way to meet new people with similar passions, become an expert in your field, and give back to your community.

                Signing up to teach earns you 1 credit. Moreover, everytime you accept a lesson request you earn another credit!