- provide(:title, "Credits - LearnTo")
.credits
  .row
    .col-md-12
      %h2 How Credits Work
      %br
      %p LearnTo uses a credit system to make sure people both learn as well as teach. Using credits is easy!
      %br

      .step
        %h4 1. What do I need credits for?
        %p You need one credit to view messages from a teacher you have contacted. However, you don't need credits to contact them! So you can contact as many teachers as you'd like but you can only view responses if you have enough credits.

      %hr.div-line

      .step
        %h4 2. Is there a limit to the number of teachers I can contact?
        %p No! You can contact as many teachers as you'd like! However, to view their response you will need one credit.

      %hr.div-line

      .step
        %h4 3. How do I earn credits?
        %p You can earn one credit by signing up to teach! You can also earn one credit for each lesson request you approve!

      %hr.div-line

      .step
        %h4 4. Why does LearnTo use credits?
        %p LearnTo uses credits to make sure people are both learning as well as teaching. By keeping credits, we make sure everyone who learns is an active member of the community who gives back as well. It works out better for everyone!