.landing-wrapper
  .logo
    = image_tag 'logo_trans.gif', :class => 'landing-logo'
  %h3
    Learn something new, share what you love, meet amazing people
  .login-button
    %a.btn-auth.large{class: "btn-facebook", href: "/auth/facebook"}
      Sign in with
      %b Facebook