.landing-wrapper
  .logo
    LearnTo
  %h3
    A place where anyone can learn anything for free
  .login-button
    %a.btn-auth.large{class: "btn-facebook", href: "/auth/facebook"}
      Sign in with
      %b Facebook