.landing-wrapper
  .logo
    LearnTo
  %h3
    Learn something new, share what you love, meet amazing people
  .login-button
    %a.btn-auth.large{class: "btn-facebook", href: "/auth/facebook"}
      Sign in with
      %b Facebook
  .email
    = link_to 'Or sign in with email', sign_in_users_path