.team
  .row
    .col-md-2
      = image_tag '/assets/jeff_about.jpg', :class=>"profile-image"
    .col-md-9
      %h4.title
        Jeffrey Warren, Co-founder
      .bio
        Jeff is a senior at MIT studying Computer Science.  He has a passion for helping others learn and has been involved with tutoring programs, mentoring youth, and even teaching MIT classes.  Jeff is outgoing and enjoys meeting new people.  In his free time, Jeff hacks computer systems and drinks obscene amounts of coffee.
  .row
    .col-md-2
      = image_tag '/assets/dhruv_about.jpg', :class=>"profile-image"
    .col-md-9
      %h4.title
        Dhruv Parthasarathy, Co-founder
      .bio
        Dhruv is an MIT Computer Science Masters student who loves learning and sharing what he knows with others! He is currently learning how to play the guitar, become a boss at statistical inference, and become a better teacher! He is helping people learn how to Rock Climb, learn iOS development, master Probability, and play tennis! He loves meeting fun, passionate people and his philosophy in life is to "treat everyone like they're your best friend!"
  .row
    .col-md-2
      = image_tag '/assets/crystal_about.png', :class=>"profile-image"
    .col-md-9
      %h4.title
        Crystal Shei, UX Designer
      .bio
        Crystal is crazy about design and she has a passion for user experience.  She studied Cognitive Science at UCSD.  In her off time, you can find Crystal reading prolifically, rock climbing, and acting the role of paparazzi.