- provide(:title, "Why Teach - LearnTo")
.about
  .row
    .col-md-12
      %h2 Why Teach?
      %br
      %p Teaching is one of the most fullfilling and enjoyable things you can do as a member of the LearnTo community. Here's why people love teaching on LearnTo.

      .step
        .row
          .col-md-6
            = image_tag 'cooking-big.jpg'
          .col-md-6
            .desc
              %h4 1. Meet interesting new people in your community
              %p 
                Every time you teach, you get to meet someone new from your community who shares the same passions as you! So not only are you helping others, but you are also meeting real people in your community in the process!

      %hr.div-line

      .step
        .row
          .col-md-6
            .desc
              %h4 2. Get better at what you love
              %p 
                Teachers on LearnTo see teaching as a great way of getting better at what they love doing, be it photography, programming, or cooking. Teaching is simply the best way of becoming an expert in something and it's also a fun way of doing what you love!
          .col-md-6
            = image_tag 'climbing.jpg'

      %hr.div-line

      .step
        .row
          .col-md-6
            = image_tag 'guitar_big.jpg'
          .col-md-6
            .desc
              %h4 3. Help others and make an impact in your community
              %p 
                Teaching on LearnTo is an easy, and powerful way of giving back to your community. By sharing your knowledge with others, you give them the power to pursue new dreams and explore new passions. So what are you waiting for? Get teaching now!
