!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    Hi #{@user.first_name},

    #{@requestor.first_name} has expressed interest in learning #{@lesson.skill.title} from you! To reply and find out more about #{@requestor.first_name}, go to 

    %a{href:{lesson_url(@lesson)}} Lesson Request  

    Thanks!
    LearnTo team