!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    Hi #{@user.first_name},

    #{@requestor.first_name} has expressed interest in one of your lessons.  

    Thanks,
    LearnTo team