<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hey guys,
    </p>
    <p>
      A new request has been added to your network:
    </p>
    <p>
      <%= @request.id %>
    </p>
    <p>
      <%= @request.title %>
    </p>
    <p>
      <%= @request.description %>
    </p>
    <p>
      <%= @request.picture %>
    </p>
    <p>
      Congrats on getting another one!
    </p>
  </body>
</html>

