-message = conversation_short.messages.last
.box
  .row
    .col-md-1.floatright
      .circle-overlay
        =image_tag message.findSender.picture
    .col-md-1
      .container.nametime
        %h5.Name
          =message.findSender.first_name
        .Time
          = conversation_short.updateTime.strftime("%b - %d")
    .col-md-8
      .container.blurb
        .Subject
          %h5 
            = conversation_short.lesson.skill.title
        .Body
          = link_to truncate(message.body, length:100), lesson_path(conversation_short.lesson)
        -if !conversation_short.read(current_user)
          %span.badge.pull-right
            1
    .col-md-1
      .message-type
        %h5
          -if conversation_short.inquiry(current_user)
            Inquiry
          -else
            Request