.message
  .row
    .col-md-1.floatright
      .circle-overlay
        =image_tag message.findSender.picture
      .info
        .name 
          =message.findSender.first_name
        .time
          = message.updated_at.strftime("%b - %d")
    .col-md-10
      .body
        =message.body