.message
  .row
    %a.block{href: user_path(message.findSender), class:"col-md-2 floatright"}
      .circle-overlay
        =image_tag message.findSender.picture
      .message-info
        .name 
          = message.findSender.first_name
        .time
          = message.created_at.strftime("%b-%d")
    .col-md-9
      .body.message-text
        = simple_format(message.body)