.reply
  .row
    .col-md-2.floatright
      %a{href: user_path(current_user),class:"circle-overlay"}
        =image_tag current_user.picture
    .col-md-9
      .body.message-text
        = form_for(@message, url: reply_conversations_path) do |f|
          .form-group
            = f.text_area :body, rows: 2, class: "form-control", placeholder: "Add your message here"
            = f.hidden_field :conversation_id, value: conversation.id
          = f.submit "Send", class: "btn btn-custom"
