/ %ul.nav.nav-pills.nav-justified
/   %li.active
/     %a{href: "#"} Current
/   %li
/     %a{href: "#"} Completed
/   %li
/     %a{href: "#"} Ignored

.conversations
  .c-conversation
    - @conversations.each do |conversation|
      = render partial: "conversation_short", locals: {conversation_short: conversation}
