%ul.nav.nav-pills.selector
  %li.active
    %a{href: inbox_conversations_path}
      Inbox
.box
  %br
  .conversation
    %h4.title
      =@conversation.lesson.skill.title
    =render "reply", conversation: @conversation
    -@conversation.messages.each do |message|
      = render "message", message: message