.fields
  =f.label "I can help others learn to: " 
  =f.text_field :title, :class=> "form-control"
  =f.label "Description"
  =f.text_area :description, :class=> "form-control"
  =f.label "Qualifications"
  =f.text_area :qualifications, :class=> "form-control"
