.fields
	=skill_form.label "I can help others learn to: " 
	=skill_form.text_field :title, :value=> "Develop a basic website with Ruby on Rails"
	=skill_form.label "Qualifications"
	=skill_form.text_area :qualifications, :value => "I've developed Rails web sites for 5 years and have studied CS at MIT"
	= link_to_remove_fields "remove", skill_form
	= link_to_add_fields "Add Skill", skill_form, :skills