- lesson_short.users.each do |user|
  .row
    %a.block{href: user_path(lesson_short.user)}
      .col-md-3
        .image.circle-overlay
          = image_tag user.picture
      .col-md-9
        .name
          = user.first_name