%a{:href => "#requestbox", :class=> 'btn btn-primary', :'data-toggle'=>'modal'} Request
#requestbox.modal.hide.fade
	.modal-content
		.modal-header
			%button{:type=>"button",:class=>"close", :'data-dismiss'=>"modal", :'aria-hidden'=>"true"}
			%h4{:class=> "modal=title"} Request Lesson - #{skill.title}
		.modal-body
			%p Tell #{skill.user.first_name} what you want to learn, why you want to learn it, and why you would be fun to teach!
			=form_tag send_request_path do
				=text_area_tag :request
				=hidden_field_tag :skill_id, skill.id
				=submit_tag 'Request', :class=>"btn btn-primary"
		.modal-footer
			%button{:type=>"button", :class=>"btn btn-default", :'data-dismiss'=>"modal"} Close
