%a{:href=> skill_path(skill_short), :style=> "display:block"}
  .pin
    .image
      = image_tag skill_short.picture
    .skill-short
      .profile-pic.circle-overlay
        = image_tag skill_short.user.picture
      .teacher-name
        Taught by
        %span
          = skill_short.user.first_name
      .skill-title
        Learn to
        %span
          = skill_short.title