.skill.box.effect1
  .profile-pic
    = image_tag skill.user.picture
  .skill-title
    Learn to...
    %span
      =skill.title
  .teacher-name
    Taught by
    %span
      = skill.user.first_name
  .skill-qualifications
    = skill.qualifications
  .request
    =render 'request', :skill=>skill