.landing-wrapper
  .logo
    LearnTo
  %h3
    Learn and share knowledge with amazing people around you, for free
.stuff
  .heading
    Top Lessons
  #wrapper
    #columns
      = render partial: "skill_short", collection: @skills