.landing-wrapper
  .logo
    LearnTo
  %h3
    Learn and share knowledge with amazing people around you, for free
.stuff
  .heading
    Top Lessons in Boston/Cambridge
  #wrapper
    #columns
      = render partial: "skill_short", collection: @skills
    For questions or to sign up to be a teacher, email 
    = mail_to "learn2@mit.edu", "LearnTo", subject: "LearnTo information"