.row
  .col-md-6
    .box
      = render 'form'
  .col-md-6
    .box
      %h4
        Help others learn!
      %p
        We really appreciate you taking the next step to becoming a teacher on LearnTo.
      %p
        Teach anything from art to music to soccer to programming!