.conversation.box
	-receipts=conversation.receipts_for @user
	.heading
		%h2 Conversation with #{receipts.first.message.sender.first_name}
	.container
		.reply.messagebox.left
			=render 'reply', :conversation => conversation
		.profile-pic.right
			=image_tag @user.picture
	-receipts.each do |receipt|
		-message = receipt.message
		.container
			.body.messagebox.right
				=message.body
			.profle-pic.left
				=image_tag message.sender.picture

