%h1 Inbox
-for conversation in @inbox
	-receipt=conversation.receipts_for(@user).first
	.container.box
		.profile-pic
			=image_tag receipt.message.sender.picture
		.subject
			=link_to receipt.message.subject, conversation_path(:conversation=>conversation.id)
		.date
			=receipt.message.updated_at
	/ =render 'conversation', :conversation=> conversation