%a{:href=> lesson_path(lesson_short), :style=> "display:block"}
  .pin
    .skill-image
      - if lesson_short.skill
        = image_tag lesson_short.skill.picture
    .profile-pic.circle-overlay
      = image_tag lesson_short.users.first.picture
    .skill-short
      .teacher-name
        Request by
        %span
          = lesson_short.users.first.first_name
      .skill-title
        %span
          -if lesson_short.skill
            = lesson_short.skill.title