%a.lesson{:href=> lesson_path(lesson_short), :style=> "display:block"}
  .pin
    .skill-image
      - if lesson_short.skill
        = image_tag lesson_short.skill.picture
    .profile-pic.circle-overlay
      - if lesson_short.user
        = image_tag lesson_short.user.picture
    - if lesson_short.skill
      .skill-short
        .teacher-name
          Request by
          %span
            - if lesson_short.skill.user
              = lesson_short.skill.user.first_name
        .skill-title
          %span
            - if lesson_short.skill
              = lesson_short.skill.title