.stuff
	.about
		.box
			.heading.info About LearnTo
			%p.info
				LearnTo is a community where we help each other learn and share whatever we are passionate about! You can join LearnTo, find people who are willing to share what they love, and request to learn from them, all for free. Similarly, you are encouraged to share what you know back to the community so that we can learn from you. We all have awesome things we are passionate about and LearnTo is a place where we can share that! All our lessons happen in person at a local public area. We believe that meeting someone, face to face, is not only a great way to learn, but a great way to get to know someone new! We hope to build an intellectually vibrant and passionate community that cares about spreading knowledge, learning new things, and helping each other. Join us by signing up to learn and teach today!
		.box
			.heading Created By
			.row
				.span5.profile
					=image_tag '/assets/jeff_about.jpg', :class=>"profile-image"
					%h5 Jeff Warren

				.span4.profile
					=image_tag '/assets/dhruv_about.jpg', :class=>"profile-image"
					%h5 Dhruv Parthasarathy
