.about{
  padding-left: 100px;
  padding-right: 100px;
}

.profile-image{
  height: 150px;
  width: 150px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  border: solid 2px #FEFEFE
}

.profile{
  text-align: center;
}

.info {
  padding: 10px;
}