.profile-image{
  height: 150px;
  width: 150px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  border: solid 2px #FEFEFE
}

.profile{
  text-align: center;
}

.fixed{
  position: fixed;
  top: -5px;
  padding-left: 15px;
}

.about { 
  img{
    float: left;
    max-width: 375px;
  }
  .step {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}