@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$black: #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #999;
$grayLighter: #eee;
$white: #fff;

html, body{
  background-image: url('/assets/tweed.png');
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayLight;
  color: $grayLight;
  a {
    color: $grayLighter;
    &:hover {
      color: $grayLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}