body {
  background: url("/assets/mooning.png");
}

.stuff {
  margin-top: 20px;
  padding: 10px;
  background: white;

  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  -box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  background: white;
}



#logo {
  height: 15%;
  width: 15%;
}