body {
  background: url("/assets/mooning.png");
}

#header{
  margin-top:10px;
  width:100%;
  height:50px;
  margin-bottom:20px;
}

#header .left-links{
    margin-left: 25px;
    float:left;
}

.nav-links{
  margin-top: 45px;
}


.right-links{
    float:right;
    margin-right: 5px;
}


#logo {
  height: 20%;
  width: 20%;
  float:left;
}