// Place all the styles related to the Messaging controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightGray: #999;

.conversation {
	padding: 10px;
	margin-bottom: 10px;
	overflow: scroll;
	height: auto;

	-moz-border-radius: 10px;
  	border-radius: 10px;
  	-webkit-border-radius: 10px;
}

.box {
	background:#FFF;
	border: 1px solid #C0C0C0;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.messagebox {
	background:#FFF;
	border: 1px solid #C0C0C0;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	width: 800px;
	height: 40px;
}
.right {
	float: right;
	display: inline;
	text-align: left;
	padding-left:10px;
}

.left {
	float: left;
 	text-align: right;
 	display:inline;
 	padding-right:10px;
}

.profile-pic {
  padding: 10px;
}

.container{
        margin-left:auto;
        margin-right:auto;
        width:auto;
        padding:20px;
  }