.nametime{
  padding-top: 5px;
}
.blurb{
  padding-top: 5px;
  .Body{
    width: 65%;
  }
}

.message-type{
  padding-top: 5px;
}
.message{
  .body{
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    min-height: 100px;
  }
  .info{
    margin-top: -25px;
    font-size: 75%;
    text-align: center;
  }
  .circle-overlay{
    margin-right: 20px;
  }
  padding-bottom: 15px;
}

.read{
  background-color: lightgray;
}

.conversation{
  .title{
    text-align: center;
    padding-bottom: 20px;
  }
}

.reply{
  padding-bottom: 15px;
}