#header {
  .navbar {
    background-color: white;
  }

  img.nav-logo {
    padding: 10px 0;
    height: 80px;
  }

  .right-links {
    padding-top: 5px;
  }
  .nav-pills {
    margin-top: 15px;
    >li {
      >a {
        border-radius:4px;
        color:#03498D;
      }
    }
  }
  .banner-image {
    position: relative; 
    margin-top: -20px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    border-bottom: 1px solid #aaa;
  }
  h2 { 
    position: absolute; 
    top: 100px; 
    // left: 100px; 
    width: 100%; 
  }
}