#header {
  .navbar {
    background-color: white;
  }

  img.nav-logo {
    padding: 10px 0;
    height: 80px;
  }

  .right-links {
    padding-top: 5px;
  }
  .nav-pills {
    margin-top: 15px;
    >li {
      >a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        border-radius:4px;
        color:#03498D;
      }
    }
  }
  .banner {
    width: 100%;
    .left {
      float: left;
      // width: 800px;
        .banner-image {
          // position: relative; 
          margin-top: -20px;
          height: 470px;
        }
    }
    .right {
      margin-top: -30px;
      height: 450px;
      margin-left: 1040px;
      background-color: #222;
      .name {
        font-family: 'Arvo', serif;
        padding: 20px 20px;
        color: #fff;
        font-size: 40px;
      }
      .desc {
        margin-left: 40px;
        padding-right: 20px;
        color: #fff;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
      }
      .start {
        margin-top: 60px;
        text-align: center;
      }
    }
  }
}