.icon-bar{
  background-color: white;
}

.navbar-collapse{
  background-color: #2c3e50;
}

.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}

#header {
  .navbar-custom{
    background-color: #2c3e50;
    opacity: 0.9;
    height: 70px;
  }

  img.nav-logo {
    padding: 10px 0;
    padding-right: 10px;
    height: 70px;
  }
  
  .nav-pills {
    margin-top: 15px;
    >li {
      >a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        border-radius: 4px;
        font-size: 14px;
        :focus{
          color: #fff;
        }
        :hover{
          opacity: 1;
        } 
      }
      .unread{
        background-color: #2980b8;
        margin-left: 10px;
      }
    }
  }
  .banner {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    top: -110px;
    margin-bottom: -110px;
    .banner-image {
      width: 100%;
      min-height: 400px;
      min-width: 700px;
      filter: blur(1px); 
      -webkit-filter: blur(1px); 
      -moz-filter: blur(1px);
      -o-filter: blur(1px); -ms-filter: blur(1px);
      filter: url(blur.svg#blur);
    }
    .up {
      margin-bottom: -100px;
    }
    .right {
      margin-top: -30px;
      height: 450px;
      margin-left: 1040px;
      background-color: #222;
      .name {
        font-family: 'Arvo', serif;
        padding: 20px 10px;
        color: #fff;
        font-size: 40px;
      }
      .desc {
        margin-left: 20px;
        padding-right: 20px;
        color: #fff;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
      }
      .start {
        margin-left: 20px; 
        margin-top: 60px;
        // text-align: center;
      }
    }
    .description {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 18px;
      color: #666666;
    }

    .tagline {
      .learnTo{
        font-weight: 700;
      }
      width:70%;
      border-radius: 100px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -250px;
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 0px #5c5c5c;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #fff;
    }

    .step
    {
      top: -115px;
      position: relative;
      height: 100%;
      padding-bottom: 20px;

      .banner-circle{
        .text{
          text-align: center;
          font-size: 30px;
          font-weight: 100;
          font-family: 'Open Sans';
          color: white;
          margin-top: 45px;
          position: relative;
        }
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 150px;
        background-color: #2980b8;
        border-radius: 185px;
        border: 3px solid #fff;
      }
    }
  }
}