.sign-in {
  h5 {
    color: #777;
  }
  .social-login {
    margin-bottom: 40px;
    .login-button {
      margin: 30px 0;
      text-align: center;
    }
  }
  .no-account {
    margin: 20px 0;
    font-size: .9em;
    color: #777;
  }
  .register {
    color: black;
    font-weight: bold;
  }
}