.login {
  .login-text {
    font-size: .9em;
  }
  .login-button {
    margin-top: 10px;
  }
  .login-account {
    margin-top: 30px;
  }
  form {
    padding-top: 10px;
  }
}

.no-account {
  font-size: .9em;
}

.register {
  color: black;
  font-weight: bold;
}