// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightGray: #999;

.skill {
  font-size: 1.2em;
  .title {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
  }
  .qualifications {
    .qualification-title {
      font-weight: 600;
      margin: 1em auto;
    }
  }
}




.skill-short {
  padding: 10px;
  margin-top: 20px;
  border-bottom: solid 1px #ddd;

  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    border-bottom: none;
  }

  .teacher-name {
    font-size: 1em;
    margin-top: 5px;
    color: $lightGray;
  }

  
}

.profile-pic {
  padding-right: 20px;
  float: left;
}

.skill-title {
  font-size: 2em;
  line-height: 1.1em;
}


.more {
  .skill-qualifications {
    margin-top: 10px;
    margin-left: 100px;
  }

  .more-details {
    margin-top: 10px;
    margin-left: 100px;
  }
}

img {
  height: 80px;
  width: 80px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
}