@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

html { 
  background: url(/assets/bg.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.landing-wrapper {

  text-align: center;
  color: #ddd;

  .logo {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 6em;
    font-weight: 400;
    color: #fbf183;
    margin: 1em auto 0em;
  }
    
  h3 {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: normal;
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .login-button {
    margin: 5em auto 0em;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  }
}