@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

.landing-wrapper {
  margin-top: 100px;
  text-align: center;
  .login-button {
    margin: 4em auto 0em;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  }
}


.profile-image{
  height: 150px;
  width: 150px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  border: solid 2px #FEFEFE
}

.profile{
  text-align: center;
}
