.user {
  .username {
    text-align: center;
  }
  .profile-picture {
    text-align: center;
    img {
      margin-top: 20px;
      height: 220px;
      width: 220px;
      -moz-border-radius: 110px;
      border-radius: 110px;
      -webkit-border-radius: 110px;
      border: solid 2px #FEFEFE
    }
  }
  .user-info {
    text-align: center;
    margin-top: 50px;
    color: #666;
  }
}





.teach-button {
  margin-top: 20px;
  text-align: center;
}

.success {
  background-color: green;
}

.or{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.line{
  margin-left: auto;
  margin-right: auto;
}
.upload{
  width: 100%;
}

.prompt{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.notice{
  background-color: red;
}

.edit-col{
  text-align: right;
}

.selector{
  a{
    background-color: lightgray;
  }
}

.user{
  .edit-picture{
    text-align: right;
  }
  .reviews{
    padding-left: 30px;
    padding-right: 30px;
  }
  .picture-profile{
  text-align: center;
  img {
    max-width: 100%;
  }
  margin-top: 10px;
}
}

.nav{
  a{
    color: white;
  }
}

.info
{
  padding-left: 30px;
}
