.teach-button {
  margin-top: 20px;
  text-align: center;
}

.or{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.line{
  margin-left: auto;
  margin-right: auto;
}

.prompt{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.edit-col{
  text-align: right;
}

.selector{
  a{
    background-color: lightgray;
  }
}

.user{
  .reviews{
    padding-left: 30px;
    padding-right: 30px;
  }
  .picture-profile{
  text-align: center;
  img {
    max-width: 100%;
  }
  margin-top: 10px;
}
}

.nav{
  a{
    color: white;
  }
}

.info
{
  padding-left: 30px;
}
