.teach-button {
  margin-top: 20px;
  text-align: center;
}

.or{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.line{
  margin-left: auto;
  margin-right: auto;
}

.nav{
  a{
    color: white;
  }
}