.banner
  = image_tag "yarn_cropped.jpg", class: "banner-image"
  .tagline
    %span.learnTo
      LearnTo 
    %span
    is a place to learn, share, & meet amazing people
  .how
    .row
      .col-md-4
        .Meet
          .banner-circle
            .text
              Meet
          .description
            Free lessons, meet amazing people
      .col-md-4
        .Learn
          .banner-circle
            .text
              Learn
          .description
            Learn, explore, and enjoy something new
      .col-md-4
        .Share
          .banner-circle
            .text
              Share
          .description
            Complete the cirle, teach something you love