.banner
  = image_tag "banner-group.jpg", class: "banner-image"
  .tagline
    %span.learnTo
      LearnTo 
    %span
    is a place to learn, share, & meet amazing people
  .how
    .row
      .col-md-4
        .Meet
          .banner-circle
            .text
              Meet
          .description
            Sign up for a free lesson and schedule a time
      .col-md-4
        .Learn
          .banner-circle
            .text
              Learn
          .description
            Learn, in person, for free!
      .col-md-4
        .Share
          .banner-circle
            .text
              Share
          .description
            Give back by teaching something you love