.banner
  = image_tag "yarn_cropped.jpg", class: "banner-image"
  .tagline
    %span.learnTo
      LearnTo 
    %span
    is a place to learn, share, & meet amazing people
  .how
    .row
      .col-md-4
        .Meet
          .banner-circle
            .text
              Meet
          .description
            Meet bright, talented people in your community
      .col-md-4
        .Learn
          .banner-circle
            .text
              Learn
          .description
            Learn and explore something new, in person, for free
      .col-md-4
        .Share
          .banner-circle
            .text
              Share
          .description
            Complete the circle and teach something you love