.banner
  .left
    = image_tag "banner-group.jpg", class: "banner-image"
  .right
    .name
      %span.name LearnTo
    .desc
      is a place to learn something new, and meet amazing people
    .start
      = link_to "Start Learning", login_path, :class => "btn btn-lg btn-custom"