.banner
  = image_tag "dumplings.png", class: "banner-image image-responsive"
  .tagline
    %span.learnTo
      LearnTo 
    %span
    is a place to learn & share with other MIT  Students
  .how
    .row.up
      .col-xs-12.col-sm-6.col-md-4.step
        .Meet
          .banner-circle
            .text
              Browse
          .description
            Browse below to find a lesson you are interested in
      .col-xs-12.col-sm-6.col-md-4.step
        .Learn
          .banner-circle
            .text
              Sign up
          .description
            Sign up by proposing to teach something in return!
      .col-xs-12.col-sm-6.col-md-4.step
        .Share
          .banner-circle
            .text
              Meet
          .description
            Meet up in person and learn from each other!