.banner
  = image_tag "dumplings.png", class: "banner-image image-responsive"
  .tagline
    %span.learnTo
      LearnTo 
    %span
    is a place to learn & share with other MIT  Students
  .how
    .row.up
      .col-xs-12.col-sm-6.col-md-4.step
        .Meet
          .banner-circle
            .text
              Meet
          .description
            Meet new people in your community who are passionate about similar things
      .col-xs-12.col-sm-6.col-md-4.step
        .Learn
          .banner-circle
            .text
              Learn
          .description
            Learn something new in person
      .col-xs-12.col-sm-6.col-md-4.step
        .Share
          .banner-circle
            .text
              Share
          .description
            Give back by teaching something you love and sharing your knowledge