%nav.top-bar
  .navbar-header
    = link_to (image_tag 'logo_trans.gif', :class => 'nav-logo'), root_path
  %ul.nav.nav-pills.navbar-right
    - if current_user
      %li
        = link_to 'Teach', new_skill_path
      %li
        = link_to 'Jeffrey Warren', user_path(current_user)