.navbar.navbar-static-top
    .navbar-inner
        .container
            .span11
                .row
                    .span2
                        .nav-item
                            = link_to 'LearnTo', skills_path, :style=>'color:#fbf183'
                    .span2
                        .nav-item
                            = link_to 'About', about_path, :style=>'color:#fbf183'

