.side-nav
  .col-md-12.col-md-offset-2
    %ul
      %li
        = link_to "How it works", about_path
      / %li
      /   = link_to "User guidelines", guidelines_path
      %li
        = link_to "Meet the team", team_path
      %li
        = link_to "Why Teach?", whyteach_path